.m-helpdeskDashboard__all {
  
}
.m-helpdeskDashboardAll__list {
  list-style: none;
  margin: 0;
  padding: 0;

  .m-helpdeskQuestions__questions {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
  }

}
