.m-group--conversation {
  max-width: 1600px;

  
  .m-group--sidebar {
    @media screen and (max-width: $min-tablet) {
      margin: 0 auto;
    }
    @media screen and (max-width: 650px) {
      width: calc(85% - 16px);
    }
  }
  .mdl-cell--8-col {
    flex: 1;
  }

}

minds-groups-profile-conversation {
  position: fixed;
  //right: 0;
  top: 52px;
  //width: 100%;
  width: calc(33% - 12px); //1/3rd of screen
  display: block;
  margin-bottom: 0;
  flex: 1;

  @media screen and (max-width: 700px) {
    width: 100%;
  }

  .m-group__chat {
    background: #FFF;
    height: 100%;
    height: calc(100vh - 45px);
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 24px;

    .minds-comments-container {
      overflow-y: auto;
      max-height: none;
      flex: 1;
      display: flex;
      flex-direction: column;

      .minds-avatar {
        width: 36px;
        height: 36px;
      }

      .m-comment-attachment .item-image {
        img, minds-video {
          max-width: 50%;
        }
      }
    }

    .minds-comment {
      .mdl-card__menu {
        display: none;
      }

      &:hover .mdl-card__menu {
        display: block;
      }

      .m-comment-attachment .m-rich-embed{
        max-width: 63%;
        .m-blurb {
          display: block;
        }
      }
    }

    .minds-comment-post {
      flex-shrink: 0;
    }

    .post-preview {
      width: 63%;
      height: auto;

      .attachment-preview {
        width: 200px;
        height: 140px;
        object-fit: cover;
      }
    }
  }

  .minds-comments-container {
    overflow-y: visible;
    height: auto;
    max-height: none;
  }

  .minds-comment.minds-comment-post {
    //position: fixed;
   // bottom: 0;
    //width: 612px;
  }
  .mdl-card__actions {
  //  top: 9px !important;
  }
}
