@import "defaults";

.m-homepage--hero{
  position:relative;

  //background-image: url(/assets/photos/circles.png);
  background-image: url("<%= APP_CDN %>/assets/videos/what-1/what-1.jpg");
  background-size: cover;
  background-position: center center;

  .m-homepage--hero--inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px 52px;
    margin: auto;
    max-width: 1280px;

    @media screen and (max-width: 1000px){
      padding: 120px 16px;
    }
    @media screen and (max-width: $max-mobile) {
      padding: 62px 12px;
    }
  }

  .m-homepage--hero--video {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    video {
      position: absolute;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
    }
  }

  .m-homepage--hero--overlay {
    position: absolute;
    background: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .m-homepage--hero--slogans{
    flex: 2;
    h1, h3, h4 {
      color: #FFF;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      margin: 0;
    }
  
    h1 {
      font-size: 110px;
      font-weight: 800;
      letter-spacing: 1.25px;
      line-height: 1;
      //color: rgba(255,255,255,0.85);
      //color: rgba(0,0,0,0.85);

      @media screen and (max-width: 720px){
        font-size: 42px;
      }
    }

    h3 {
      font-size: 26px;
      //color: rgba(255, 255, 255, 0.8);
      font-weight: 400;
      letter-spacing: 0.25px;
      line-height: 1.25;
      margin-top: 16px;
      padding-right: 70px;

      @media screen and (max-width: 720px){
        padding-right: 8px;
        font-size: 16px;
      }
    }
    z-index: 2;
  }
  
  .m-homepage--signup{
    flex: 1;
    margin-left: 16px;

    @media screen and (max-width: 1000px){
      display:none;
    }
    minds-form-register{
      .mdl-card{
        background:transparent;
        padding:0;
      }
      .mdl-card__title{
        //color: #FFF !important;
        display:none;
      }
      .m-login-box input{
        border:0;
        border-radius:3px;
        background:rgba(255,255,255,0.9);
        color:#444;
        border:1px solid rgba(255,255,255,0.25);
        font-weight: 600;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-family: Roboto;
        letter-spacing: 1px;
        //box-shadow: 0 0 6px rgba(255,255,255,0.22);
        &::placeholder{
          color: #444;
        }
      }
      .m-login-box .mdl-checkbox__box-outline {
        border-color: #FFF;
      }
      .m-btn--action {
        color: #FFF !important;
        border: 1px solid #FFF;
        margin-right: 16px;
      }
      .mdl-card__actions{
        flex-direction:row-reverse;;
        .m-register-tac{
          padding-right:16px;
          color: rgba(255,255,255,0.8);
          font-family: Roboto;

          a {
            color: #FFF;
          }
        }
      }
      .password-help {
        padding: 12px;
        border-radius: 4px;
        font-weight: 300;
        color: white;
        background-color: black;
      }
      .m-register-btn {
        font-family: Roboto;
        letter-spacing: 1.25px;
        background: transparent;
        border: 1px solid #EEE;
        font-size: 12px;
        box-shadow: none !important;
      }
    }
    z-index: 2;
  }

  @media (max-width: $max-mobile){
    .m-homepage--grid{
      .m-homepage--titles{
        h1{
          font-size: 32px;
          line-height:32px;
          //font-weight: 200;
          //margin:16px;
          padding:0;
          padding:0 $minds-padding*2;
        }
        h3{
          font-size:16px;
          //font-weight: 200;
          line-height:16px;
          padding:16px 16px 0;
        }
      }
    }
    .m-homepage--titles {
      //display:none;
    }
    .m-app-links {
      //max-width:60%;
      margin:$minds-margin;
      a{
        flex:auto;
      }
    }
  }

}

m-homepage {
 
  .m-homepage--section {
    height: 300px;
    align-items: center;
    justify-content: center;
    display:flex;
    //text-transform: uppercase;
    font-weight: 100;
    font-size: 41px;
    background: #FFF;

    display: block;
    text-align: center;
    padding: 80px 0;
    height:auto;

    @media screen and (max-width: 720px){
      padding: 16px 0;
    }

    &.m-homepage--section-margin {
      max-width: 1280px;
      margin: auto;

      @media screen and (max-width: 1320px) {
        padding-left: 16px;
        padding-right: 16px;
      }
    }

    h1{
      font-size: 72px;
      font-weight: 600;
      color: #444;
      font-weight: 800;
      //text-transform: uppercase;
      letter-spacing: 0.25px;
      margin-left: 8px;
      margin-right: 8px;

      @media screen and (max-width: 720px){
        font-size: 28px;
      }
    }

    h2{
      //text-transform: uppercase;
      font-size: 56px;
      line-height: 1;
      font-weight: 600;
      letter-spacing: 1.25px;
      color: #444;

      @media screen and (max-width: 720px){
        font-size: 22px;
      }

      &.m-hompeage--wide-letters {
        letter-spacing: 4px;
      }
    }

    h4{
      font-weight: 400;
      font-size: 32px;
      letter-spacing: 4px;

      @media screen and (max-width: 1250px){
        font-size: 24px;
      }
      .m-break--8spaces{
            padding-left: 60px;
      }
    }

    h5 {
      font-size: 12px;
      letter-spacing: 0.75px;
      line-height: 1;
      margin: 0;
      margin-top: -18px;
      color: #aaa;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      text-transform: uppercase;

      @media screen and (max-width: 720px){
        margin-top: 0;
      }
    }

    .m-homepage--section--icons{
      max-width:990px;

      > div {
        a{
          text-decoration:none;
        }
        i{
          width: 100%;
          font-size: 69px;
          margin: 16px 0;
        }
        label{
          font-size: 18px;
          font-family: 'Roboto';
          font-weight: 400;
          color:#4A4A4A;
          letter-spacing:2px;
          text-transform: uppercase;
        }
        p{
          font-family: Roboto;
          line-height: 18px;
          font-size: 14px;
          margin: 24px 0;
          color: #666;
          font-weight: 400;
        }
      }
    }

    .m-homepage--section--rewards{
      max-width: 800px;
      padding: 32px 0;

      .m-homepage--section--rewards-points{
        padding: 28px;

        i{
          font-size: 30px;
          vertical-align: middle;
        }
        span{
          font-size: 28px;
        }
      }
      label{
        font-size: 18px;
        font-family: Roboto;
        font-weight: 400;
        letter-spacing: 2px;
        color: #333;
      }
    }
  }

  .m-homepage--section--with-video {
    position: relative;
    overflow: hidden;
    padding-bottom: 0;

    .m-homepage--section--video {
      //margin-top: -220px;

      @media screen and (max-width: $max-mobile) {
        //display: none;
      }
    }
    .m-homepage--section--video--overlay {
      position: absolute;
      z-index: 1;
      width: 100%;
    }
  }

  .m-homepage--section--video {
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    position: relative;

    video {
      min-width: 100%;
      min-height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
    }
  }

  .m-homepage--section--grid {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    //margin-top: 100px;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: $max-mobile) {
      flex-direction: column;
    }

    .m-homepage--section--grid-col {
      flex: 1;
      padding: 0 16px;
      margin: 16px;
      text-align: center;

      i {
        text-align: center;
        font-size: 72px;
        color: #444;
      }

      h4 {
        letter-spacing: 0.25px;
        font-weight: 300;
        font-size: 28px;
        color: #444;
      }
    }
  }

  .m-homepage--stream{
    max-width:1100px;
    padding:$minds-padding !important;
    h4{
      text-transform: uppercase;
      margin: 0 auto 0;
      font-size: 14px;
      max-width: 1280px;
      text-indent: 16px;
    }
    section{
      display:block;
      padding:$minds-padding*1.5;
      height:auto;

      minds-activity{
        width:100%;

        .tabs > * {
          .minds-counter {
            display: block;
          }
          .m-wire-button{
            transform: scale(1.2) translateY(5px);
          }
        }
      }
    }
  }

  .m-homepage--facts{
    height:auto;
    .mdl-grid{
      max-width:990px;

      .mdl-cell{
        padding: 0 $minds-padding*2;
        text-align: center;
      }
    }
    h3{
      text-transform: uppercase;
      margin:8px 0;
      font-size: 22px;
      line-height: 24px;
    }
    i{
      font-size:94px;
    }
  }

  .m-homepage--features{
    min-height: 186px;
    height:auto;
    padding: 26px 0;

    .mdl-grid{
      width:90%;
    }

    .mdl-cell{
      text-align: center;
      margin:16px auto;
      cursor: pointer;

      i{
        font-size:42px;
      }
      h3{
        font-size:12px;
        margin:8px 0;
        line-height:14px;
      }
    }

  }

  .m-homepage-press {
    height: auto;

    .m-contents{
      margin: auto;
      text-align:center;


      div {
        display: inline-block;

        img {
          box-sizing: border-box;
          max-width: 100px;
          padding: 8px;
          filter:grayscale(91%) contrast(50%);
          transition: filter 0.5s linear;
          &:hover{
            filter:none;
          }

        }
      }
    }
  }

}

@media screen and (max-height: 750px ) and (min-width: $max-mobile){
  .m-app-links{
      display: none !important;
  }
}


.m-app-links{

  padding:28px 0;
  height:auto;
  display: flex;
  flex-flow: row wrap;
  align-items:center;
  justify-content: center;

  a{
    flex:1;
    padding:8px;
    max-width: 132px;

    img{
      width:100%;
    }
  }

}

.m-footer{
  background:#fff;
  padding:28px;
  min-height:150px;
  position:relative;
//  justify-content:flex-end;

  .copyright{
    display: block;
    padding: 16px 0; 
    width: 100%;
    text-align: center;
    font-size: 11px;
    font-weight:bold;
  }

}

.m-homepage--feature-btn{
  border: 0;
  padding: 12px;
  margin: 26px auto;
  border-radius: 5px;
  height:25px;
  width:136px;
  display:flex;
  flex-direction: row;
  align-items:center;
  text-align:center;

  i, .m-homepage--feature-btn--icon{
    width: auto !important;
    font-size: 22px !important;
    padding-right:12px;
    margin: 0 !important;
    vertical-align: middle;
  }

  span{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
    flex:1;
    font-family: Roboto;
    font-weight: 400;
  }
}

.m-homepage--fader{

  width: 100%;
  height: 500px;
  margin-top: -500px;
  background: linear-gradient(rgba(255,255,255,0), rgb(245, 245, 245));
  /* position: absolute; */
  /* bottom: 0; */
  z-index: 9999;
  position: relative;
  pointer-events: none;

  .m-homepage--fader--load-more{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 36px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 400;
    font-family: Roboto;
    cursor: pointer;
    pointer-events: all;
  }
}
