@import "defaults";


m-search--bar{
  width:200px;

  .mdl-textfield {
    width:100%;
    .material-icons{
      position:absolute;
      margin:6px;
      font-size: 20px;
    }
    input{
      background: #ffffff;
      border: 1px solid rgba(0,0,0,.12);
    }
    input, label{
      padding:$minds-padding $minds-padding $minds-padding $minds-padding*4;
      box-sizing: border-box;
    }
  }

  @media screen and (max-width: 1080px){
    width: 180px;
  }

  @media screen and (max-width: $min-desktop){
    width:45%;
  }
  @media screen and (max-width: $min-tablet){
    width:auto;
    max-width: 30%;

    input{
      border:0 !important;
      &:focus{
        border: 1px solid rgba(0, 0, 0, 0.12) !important;
        width: 75vw;

        & + .mdl-textfield__label {
          width: 75vw;
        }
      }
    }
  }

  //

  .m-search-bar--context {
    display: none;
  }

  .mdl-textfield .mdl-textfield__input {
    height: 32px;
    border-radius: 18px;

    //text-indent: 22px;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 600;
    //line-height: 38px;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  @media screen and (min-width: 769px) {
    .mdl-textfield.m-search-bar--has-context {
      display: flex;

      .m-search-bar--context {
        display: block;
        flex-grow: 1;
        align-self: center;

        max-width: 25em;
        height: 32px;
        border-radius: 3px;
        padding: 0 0 0 32px;

        font-family: Roboto, sans-serif;
        font-size: 12px;
        letter-spacing: 1.25px;        
        //line-height: 38px;
        white-space: nowrap;
        text-transform: uppercase;
        color: rgba(74, 74, 74, 0.5);

        border: 1px solid rgba(0, 0, 0, 0.12);
        border-right: none;
        box-sizing: border-box;

        text-rendering: optimizeLegibility;
    iebkit-font-smoothing: antialiased;
      }

      .mdl-textfield__input {
        padding: 0 $minds-padding;

        border: 1px solid rgba(0, 0, 0, 0.12);
        //border-left: none;
        box-sizing: border-box;

        appearance: none;
      }
    }
  }
}

m-search--bar-suggestions{
  display: block;

  .m-search-bar-suggestions-list{
    background: #FFF;
    border: 1px solid #EEE;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 5000;
    box-sizing: border-box;
    width: 200%;

    .m-search-bar-suggestions-suggestion{
      cursor:pointer;
      padding: 4px;
      border-bottom: 1px solid #EEE;
      display:block;
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
      color: #555;
      letter-spacing: 0.5px;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;

      img{
        border-radius: 50%;
        margin: 0 8px 0 4px;
        width: 36px;
        height: 36px;
        background: #444;
      }
    }
  }

  .m-search-bar-suggestions-context {
    color: rgba(74, 74, 74, 0.83);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 26px;
    letter-spacing: 1.75px;
    font-weight: 500;

    > * {
      vertical-align: middle;
      display: inline-block;   
      line-height: 13px;   
    }

    b {
      margin: 0 0.35em 0 8px;
      color: rgba(74, 74, 74, 0.5);
      font-weight: 400;
      font-size:9px;
      text-transform: uppercase;
    }
  }
}

// Search

m-search {
  display: block;
  min-height: 100vh;
  //background: #ffffff;
  //background: rgba(252,252,252,1);
  padding-top: 42px;

  .m-toolbar {
    position: fixed;
    top: 0;
    position: fixed;
    top: 50px;
    width: 100%;
    background: rgb(248, 248, 248);
    z-index: 500;
  }

  .m-topbar--navigation--more {

    position: relative;
    cursor: pointer;

    .minds-dropdown-menu {
      width: auto;
      max-width: 300px;

      .mdl-menu__item {
        display: flex;
        align-items: center;
        overflow: visible;
        font-size: 12px;

        .m-dropdown--spacer {
          flex: 1;
        }

        > label.mdl-switch {
          width: 36px;
        }

        .m-tooltip i {
          font-size: 16px;
          margin: 0 8px;
          color:#888;
        }
      }
    }

    @media screen and (max-width: $max-mobile){
      flex: 1;
    }
  }
}

// Search Lists

.m-search--list {
  max-width: 1280px;
  padding: $minds-padding * 2;
  margin: auto;

  .m-search--list-section {
    margin-bottom: $minds-padding * 3;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .m-search--list-title {
    margin: 0;
    padding: 0 $minds-padding * 2;
    color: rgba(0,0,0, 0.6);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .m-search--list-entities {
    minds-card {
      background: transparent;
    }
  }
}

