<div class="m-helpdeskQuestions__categories m-border">
  <ng-container *ngIf="type == 'category'">
    <ul *ngFor="let category of categories">
      <h4>{{category.title}}</h4>
      <a
        class="m-helpdeskQuestions__editIcon"
        [routerLink]="'/help/category/edit/' + category.uuid"
        *ngIf="session.isAdmin()"
      >
        <i class="material-icons">
          edit
        </i>
      </a>

      <li class="m-helpdeskQuestions__question"
        *ngFor="let question of category.questions"
      >
        <a [routerLink]="['/help/question/', question.uuid]">
          <span>{{question.question}}</span>
          <i class="material-icons">
            keyboard_arrow_right
          </i>
        </a>
      </li>
    </ul>
  </ng-container>

  <ng-container *ngIf="type == 'popular'">
    <ul>
      <h4>Popular questions</h4>

      <li class="m-helpdeskQuestions__question"
        *ngFor="let question of topQuestions"
      >
        <a [routerLink]="['/help/question/', question.uuid]">
          <span>{{question.question}}</span>
          <i class="material-icons">
            keyboard_arrow_right
          </i>
        </a>
      </li>
    </ul>
  </ng-container>

</div>


  